###
# Build tool
### 
.gradle
.gradletasknamecache
/build/
/bin/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

###
# IDE
###
.idea
.settings
.project
.classpath
